<h1>Cifrado Eficiente Texto</h1>
<form method="post">
    <label>Contenido a cifrar</label>
    <input type="text" name="contenido" class="form-control" />
    <label>Resultado cifrado</label>
    <textarea rows="5" type="text" name="resultado" class="form-control">@ViewData["TEXTOCIFRADO"]</textarea>
    <button class="btn btn-primary mt-2" name="accion" value="cifrar">Cifrar contenido</button>
    <button class="btn btn-primary mt-2" name="accion" value="comparar">Comparar</button>
</form>
<h2 style="color:limegreen">@ViewData["SALT"]</h2>
<h2 style="color:blue">@ViewData["MENSAJE"]</h2>