<h1>Menu Cifrado</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Cifrados" asp-action="CifradoBasico" class="btn btn-info">
            Cifrado Básico
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Cifrados" asp-action="CifradoEficiente" class="btn btn-primary">
            Cifrado Eficiente
        </a>
    </li>
</ul>