<h1>Send Mail NetCore</h1>
<form method="post">
    <label>To: </label>
    <input type="text" name="to" class="form-control"/>
    <label>Asunto: </label>
    <input type="text" name="asunto" class="form-control" />
    <label>Mensaje: </label>
    <input type="text" name="mensaje" class="form-control" />
    <button class="btn btn-info">Send Mail</button>
</form>
<h2 style="color:blue">@ViewData["MENSAJE"]</h2>