<h1>Subir Ficheros NetCore</h1>
<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero:</label>
    <input type="file" name="fichero" class="form-control"/>
    <button class="btn btn-info">Subir fichero</button>
</form>
<h2 style="color:green">@ViewData["MENSAJE"]</h2>
<img style="width:200px" src='@ViewData["PATH"]' /> 