@{
    string usuario = Context.Session.GetString("USUARIO");
}
@if (usuario == null)
{
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Home" asp-action="LogIn">LogIn</a>
</li>
}
else
{
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Home" asp-action="Logout">
        Cerrar Session @usuario</a>
</li>
}
