<form method="post">
    <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="usuario" name="usuario" required>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
</form>
<h2>@ViewData["MENSAJE"]</h2>